.header-wrapper .title {
  color: #282C3C;
  font-size: 86px;
  margin-bottom: 130px;
  font-weight: normal;
  -webkit-text-stroke: 3px white;
  margin-bottom: 130px;
  z-index: 2;
}
.header-wrapper .connectBtn {
  /* color: white;
  display: flex;
  font-size: 22px;
  padding: 11px 48px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  line-height: 41px;
  background-color: transparent !important; */
  font-size: 12px;
}
.header-wrapper .footerText {
  color: #fff;
  font-family: 'Red Hat Display';
  margin-top: auto;
}
@media screen and (max-width: 900px) {
  .header-wrapper::before {
    background-size: auto 100%;
    background-position: center;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .header-wrapper {
    /* padding-top: 270px;
    padding-bottom: 15px; */
    /* background-image: url('../../public/new-bg-1.jpg'); */
    background-size: auto 100%;
  }
  .header-wrapper .title {
    font-size: 46px;
    line-height: 86px;
    letter-spacing: 1px;
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
    -webkit-text-stroke: unset;
  }
  .header-wrapper .connectBtn {
    font-size: 16px;
    line-height: 30px;
    width: 90vw;
    /* background-image: url('../../public/blue-btn-bg-m.png') !important; */
  }
  .header-wrapper .footerText {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    font-size: 12px;
  }
  .header-wrapper::before {
    background-image: url('../../public/header-before-m.png');
  }
}
@media screen and (max-width: 320px) {
  .header-wrapper {
    padding-top: 200px;
  }
  .header-wrapper::before {
    top: 130px;
  }
}
